* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }
body {
    display: grid;
    height: 55vh;
    margin: 0;
    font-family: Helvetica;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fe2c77df-b4fa-46aa-ba9f-f7adbc11e74c/dbpx7j9-5e1c37e5-dbbc-4a3f-a6d0-2a6c92179f9e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2ZlMmM3N2RmLWI0ZmEtNDZhYS1iYTlmLWY3YWRiYzExZTc0Y1wvZGJweDdqOS01ZTFjMzdlNS1kYmJjLTRhM2YtYTZkMC0yYTZjOTIxNzlmOWUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.uas7c_BVsmGSefZwjUCNEDGBwmtBpmSPZlwfBLqLarA");
    background-size: 1080px 540px; 
    background-repeat: no-repeat; 
}
h1 {
   grid-column: span;
   grid-column: 2/5;
   font-family: 'Blaka', cursive;
   font-size: 50px;
   color:blanchedalmond;
}
div {
    grid-column: 2/5;
    grid-row: 4/6;
}
 #hero {
    grid-column: 2/5;
    grid-row: 3/4;
}
h3 {
    grid-column: 2/5;
    grid-row: 2/3;
}
#buttons {
    background-color:beige;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#gamestatus {
    grid-column: 2/5;
    grid-row: 3/4;
    font-family: 'Blaka', cursive;
    color: brown;
    font-size: 30px;
}